@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .bg-primary {
        @apply 
        bg-gradient-to-br 
        from-red-300 
        to-blue-400 
        via-gray-300;
    }

    .bg-dark {
        @apply bg-gradient-to-br
        from-red-800
        to-blue-800
        via-gray-800
    }

    .bg-btn {
        @apply bg-yellow-400
    }

    .header-font {
        @apply
        font-sans
        text-white
        text-xl
        
        
    }

    .xl-header-font {
        @apply
        font-sans
        text-white
        text-5xl
    }

    .score-font {
        @apply
        font-thin
        text-blue-400
        text-base
        
    }

    .xl-score-font {
        @apply
        font-thin
        text-blue-400
        text-3xl
        
    }

    .score-font-tally {
        @apply
        font-extrabold
        text-blue-950
        text-3xl
        
    }

    .xl-score-font-tally {
        @apply
        font-extrabold
        text-blue-950
        text-6xl
    }
}

body {
    height: 100vh;
    width: 100vw;
}

/* Header */

header {
    height: 25vh;
    width: 100vw;
    display: flex;

    align-content: center;
    justify-content: center;
}

.headerbox {
    height: 75%;
    width: 75%;

    display: flex;
    align-self: center;
    justify-self: center;

    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border: white 2px solid;
    border-radius: 2rem;
}

.headerbox-title {
    height: 100%;
    width:60%;
}

.scorebox-parent {
    height: 100%;
    width:40%;

    background-color: white;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    padding: 2.5%;

    overflow: hidden;
}

.scorebox-text {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scorebox-tally {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* Main */

main {
    height: 65vh;
    width: 100vw;
}

.main-content-parent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}

.game-main-parent {
    height: 85%;
    width: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-bg-div {
    width: 40%;
    height: 70%;
    background-image: url('../src/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;

}

.game-upper-parent {
    height: 20%;
    display: flex;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.game-lower-parent {
    margin-top: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}


.main-game-btn {

    height: 175px;
    width: 175px;
    border: black 1px solid;
    border-radius: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(95, 93, 93, 0.396) 0px -10px 4px 3px inset;
}

.game-btn-inner {

    height: 125px;
    width: 125px;
    border: black 1px solid;
    border-radius: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgb(95, 93, 93) 0px 10px 5px 5px inset;

}



/* Footer */

footer {
    height: 10vh;
    width: 100vw;
}

.rules-btn-parent {
    height: 100%;
    width: 100%;

    display: flex;
    

}

.rules-btn {
    border: white 2px solid;
    border-radius: 2rem;
    padding: 1%;
    margin: 1%;

    background-color: rgba(240, 248, 255, 0);

    color: white;

    height: 55%;
    min-width: 115px;
    width: 10%;
}

