@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .bg-primary {
        @apply 
        bg-gradient-to-br 
        from-red-300 
        to-blue-400 
        via-gray-300;
    }

    .bg-dark {
        @apply bg-gradient-to-br
        from-red-800
        to-blue-800
        via-gray-800
    }

    .bg-btn {
        @apply bg-yellow-400
    }

    .header-font {
        @apply
        font-sans
        text-white
        text-3xl
        
    }

    .xl-header-font {
        @apply
        font-sans
        text-white
        text-7xl
    }

    .score-font {
        @apply
        font-thin
        text-blue-400
        text-xl
        
    }

    .xl-score-font {
        @apply
        font-thin
        text-blue-400
        text-2xl
    }

    .score-font-tally {
        @apply
        font-extrabold
        text-blue-950
        text-2xl
        
    }

    .xl-score-font-tally {
        @apply
        font-extrabold
        text-blue-950
        text-4xl
    }
}

body {
    height: 100vh;
    width: 100vw;
}

/* Header */

header {
    height: 25vh;
    width: 100vw;
    display: flex;

    align-content: center;
    justify-content: center;
}

.headerbox {
    height: 75%;
    width: 75%;

    display: flex;
    align-self: center;
    justify-self: center;

    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border: white 2px solid;
    border-radius: 2rem;
}

.headerbox-title {
    height: 100%;
    width:60%;
}

.scorebox-parent {
    height: 100%;
    width:40%;

    background-color: white;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 2.5%;

    overflow: hidden;
}

.scorebox-text {
    height: 40%
}

.scorebox-tallay {
    height: 60%;
}

