/* TailwindCSS Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

    /* Global */
    .bg-primary {
        @apply 
        bg-gradient-to-b
        from-sky-500 from-10%
        via-blue-700 via-30%
        to-indigo-900 to-60%
    }

    .bg-dark {
        @apply bg-gradient-to-br
        from-red-800
        to-blue-800
        via-gray-800
    }

    .bg-btn {
        @apply bg-yellow-400
    }

    /* header components */

    .header-font {
        @apply
        font-sans
        font-bold
        text-white
        text-2xl
    }

    .md-header-font {
        @apply
        font-sans
        font-semibold
        text-white
        text-4xl
    }

    .lg-header-font {
        @apply
        font-sans
        font-semibold
        text-white
        text-5xl
    }

    .xl-header-font {
        @apply
        font-sans
        text-white
        text-6xl
    }


    /* note: text-base is the "default" or "base" size */
    .score-font {
        @apply
        font-medium
        text-blue-700
        text-base
        tracking-wider
    }

    .md-score-font {
        @apply
        font-thin
        text-blue-700
        text-2xl
        tracking-wide
    }

    .lg-score-font {
        @apply
        text-blue-700
        text-3xl
        tracking-wide
    }

    .xl-score-font {
        @apply
        font-medium
        text-blue-700
        text-3xl
        tracking-wider
    }

    .score-font-tally {
        @apply
        font-extrabold
        text-stone-600
        text-3xl
        tracking-tighter
    }

    .md-score-font-tally {
        @apply
        font-extrabold
        text-stone-600
        text-6xl
        tracking-tighter
    }

    .lg-score-font-tally {
        @apply
        font-extrabold
        text-stone-600
        text-7xl
        tracking-tighter
    }

    .xl-score-font-tally {
        @apply
        font-black
        text-stone-600
        text-8xl
        tracking-tighter
    }

    /* Main Components */

    /* Triangle Bg control */
    .game-bg-div {
        width: 225px;
        height: 200px;
        background-image: url('../src/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }

    .md-game-bg-div {
        width: 375px;
        height: 335px;
        background-image: url('../src/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }

    .lg-game-bg-div {
        width: 555px;
        height: 495px;
        background-image: url('../src/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }

    .xl-game-bg-div {
        width: 775px;
        height: 690px;
        background-image: url('../src/images/bg-triangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }

    /* Game Buttons */

    .main-game-btn {

        height: 105px;
        width: 105px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(5, 5, 5, 0.357) 0px -5px 2px 3px inset;
    }
    
    .md-main-game-btn {
    
        height: 150px;
        width: 150px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(95, 93, 93, 0.396) 0px -10px 4px 3px inset;
    }
    
    .lg-main-game-btn {
    
        height: 225px;
        width: 225px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(95, 93, 93, 0.396) 0px -12px 2px 8px inset;
    }
    
    .xl-main-game-btn {
    
        height: 250px;
        width: 250px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(95, 93, 93, 0.396) 0px -15px 4px 3px inset;
    }
    
    .game-btn-inner {
    
        height: 75px;
        width: 75px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgb(95, 93, 93) 0px 5px 5px 3px inset;
    
    }
    
    .md-game-btn-inner {
    
        height: 100px;
        width: 100px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(95, 93, 93, 0.639) 0px 10px 5px 5px inset;
    
    }
    
    .lg-game-btn-inner {
    
        height: 150px;
        width: 150px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(95, 93, 93, 0.639) 0px 10px 5px 5px inset;
    
    }
    
    .xl-game-btn-inner {
    
        height: 175px;
        width: 175px;
        border: black 1px solid;
        border-radius: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        box-shadow: rgba(95, 93, 93, 0.639) 0px 10px 5px 5px inset;
    
    }

    /*Shadow Effects */

    .sm-white-shadow-effect {
        box-shadow:
            rgba(95, 93, 93, 0.639) 0px -5px 0px 5px inset,
            rgba(255, 255, 255, 0.9) 0px 0px 1px 2px,
            rgba(255, 255, 255, 0.75) 0px 0px 4px 15px,
            rgba(255, 255, 255, 0.6) 0px 0px 8px 25px,
            rgba(255, 255, 255, 0.45) 0px 0px 16px 40px,
            rgba(255, 255, 255, 0.3) 0px 0px 32px 75px
    }

    .white-shadow-effect:hover {
        box-shadow:
            rgba(95, 93, 93, 0.639) 0px -10px 0px 5px inset,
            rgba(255, 255, 255, 0.9) 0px 0px 1px 2px,
            rgba(255, 255, 255, 0.75) 0px 0px 7px 5px,
            rgba(255, 255, 255, 0.6) 0px 0px 20px 25px,
            rgba(255, 255, 255, 0.45) 0px 0px 40px 75px,
            rgba(255, 255, 255, 0.3) 0px 0px 100px 100px
    }
}

body {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

header {
    height: 25vh;
    width: 100vw;
    display: flex;

    align-content: center;
    justify-content: center;
}

.headerbox {
    height: 75%;
    width: 75%;

    display: flex;
    align-self: center;
    justify-self: center;

    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border: white 2px solid;
    border-radius: 2rem;
}

.headerbox-title {
    height: 100%;
    width:60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scorebox-parent {
    height: 100%;
    width:40%;

    background-color: white;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    padding: 2.5%;

    overflow: hidden;
}

.scorebox-text {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scorebox-tally {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* Main */

main {
    height: 65vh;
    width: 100vw;
}

.main-content-parent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-main-parent {
    height: 85%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-upper-parent {
    height: 20%;
    display: flex;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}



.game-lower-parent {
    margin-top: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

/* Footer */

footer {
    height: 10vh;
    width: 100vw;
}

.rules-btn-parent {
    height: 100%;
    width: 100%;

    display: flex;
}

.rules-btn {
    border: white 2px solid;
    border-radius: 2rem;
    padding: 1%;
    margin: 1%;

    background-color: rgba(240, 248, 255, 0);

    color: white;

    height: 55%;
    min-width: 115px;
    width: 10%;
}

